<table>
<tr> <td>Стихотворения</td> </tr>
<% @verse.each do |el| %>
<tr> 
<td style="border:1px solid black; background:pink;"><%= el.title %> </td>
</tr>
<tr> <td><%= el.text %> </td>
</tr>


<% end %>

</table>
